@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-award:before {
  content: "\e900";
}

._icon-case:before {
  content: "\e901";
}

._icon-customers:before {
  content: "\e902";
}

._icon-customers_2:before {
  content: "\e903";
}

._icon-marker:before {
  content: "\e904";
}

._icon-message:before {
  content: "\e905";
}

._icon-notebook:before {
  content: "\e906";
}

._icon-phone:before {
  content: "\e907";
}

._icon-shop:before {
  content: "\e908";
}

._icon-speed:before {
  content: "\e909";
}

._icon-stats:before {
  content: "\e90a";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #737373;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 65.625rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  padding: 10px 36px;
  border-radius: 5px;
  border: 1px solid #ff7b47;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ff7b47;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button_round {
  border-radius: 36px;
}

.button_turquoise {
  border-color: #0d5c63;
  color: #0d5c63;
}

.button_turquoise:hover {
  background-color: #0d5c63;
  color: #fff;
}

.button_filled {
  background-color: #ff7b47;
  color: #fff;
}

.button_filled:hover {
  background-color: #a8441c;
  color: #fff;
  border-color: #a8441c;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
}

.title_little {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
}

.subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.text {
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header__container {
  padding-top: 5px;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 131px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
}

.header__logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
}

.menu__link {
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.menu__link:hover {
  text-decoration: underline;
}

.icon-menu {
  display: none;
}

.main-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main {
  position: relative;
  background-color: #fafafa;
}

.main__content {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__title {
  margin-top: 190px;
  max-width: 510px;
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #252b42;
}

.main__text {
  max-width: 375px;
  margin: 35px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
}

.main__advantages {
  margin-top: 80px;
}

.actions-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.advantages-main {
  margin-bottom: -130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.advantages-main__item {
  padding: 35px 40px;
  background-color: #fff;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.advantages-main__item:last-child {
  background-color: #0d5c63;
}

.advantages-main__item:last-child h3 {
  color: #fff;
}

.advantages-main__item:last-child h3::before {
  color: #fff;
}

.advantages-main__item:last-child p {
  color: #fff;
}

.advantages-main__title {
  text-align: left;
}

.advantages-main__title::before {
  font-size: 48px;
  color: #0d5c63;
  margin-bottom: 10px;
}

.advantages-main__text {
  margin-top: 10px;
}

.experience {
  background-color: #fafafa;
}

.experience__content {
  padding-top: 130px;
  height: 500px;
}

.experience__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  text-align: center;
  max-width: 520px;
}

.body-experience__items {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 15px;
}

.body-experience__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 23.9%;
          flex: 0 1 23.9%;
  padding: 30px 40px;
  background-color: #fff;
}

.item-experience_subtitle {
  margin-top: 10px;
  text-align: center;
}

.item-experience__amount::before {
  font-size: 48px;
  color: #0d5c63;
  margin-bottom: 10px;
}

.practice {
  background-color: #fafafa;
}

.practice__text {
  text-align: center;
  margin-top: 10px;
}

.body-practice__items {
  margin: 45px -15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body-practice .practise-items__column {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.item-practice {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-practice__body {
  padding: 30px;
}

.item-practice__title {
  color: #252b42;
}

.item-practice__text {
  margin: 15px 0px 0px 0px;
}

.item-practice__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__text {
  margin-top: 15px;
  text-align: center;
}

.about__body {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__video {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.about__briff {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
}

.play__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.play__btn :hover .circle {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  fill: #ff7b47;
}

.video-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 440px;
}

.briff-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.briff-about__title {
  text-align: left;
}

.briff-about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.briff-about__item {
  margin-top: 30px;
}

.briff-about__text {
  margin-top: 10px;
}

.item-briff {
  padding-left: 50px;
}

.item-briff__subtitle {
  position: relative;
  color: #252b42;
}

.item-briff__subtitle::before {
  position: absolute;
  color: #ff7b47;
  font-size: 32px;
  left: -50px;
}

.item-briff__text {
  margin-top: 5px;
}

.clients {
  background-color: #fafafa;
  padding: 50px 0;
}

.clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__item {
  padding: 8px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.6667%;
          flex: 0 1 16.6667%;
  text-align: center;
}

.subscribe {
  position: relative;
  padding-bottom: 20px;
  background-color: #fafafa;
}

.subscribe::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 77px;
  bottom: 0;
  left: 0;
  background-color: #252b42;
}

.subscribe__body {
  position: relative;
  z-index: 2;
  padding: 30px 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #17213C;
  border-radius: 2px;
}

.subscribe__title {
  color: #fff;
  text-align: left;
}

.subscribe__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__input {
  width: 100%;
  background-color: #f9f9f9;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 58px;
  padding: 0 20px;
  border: 1px solid #e6e6e6;
  border-right: none;
  border-radius: 5px 0px 0px 5px;
}

.subscribe__input:focus {
  color: #000;
}

.subscribe__button {
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 58px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 22px;
}

.getintouch {
  background-color: #f3f3f3;
  padding: 80px 0 120px;
}

.getintouch__title {
  margin-bottom: 10px;
}

.getintouch__text {
  text-align: center;
  margin-bottom: 50px;
}

.getintouch__items {
  margin: 0 -15px;
}

.getintouch__item {
  background-color: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.item-getintouch {
  padding: 50px 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-getintouch > *:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.item-getintouch:hover {
  padding: 80px 40px;
  background-color: #252b42;
}

.item-getintouch:hover .item-getintouch__icon,
.item-getintouch:hover .item-getintouch__email,
.item-getintouch:hover .item-getintouch__subtitle,
.item-getintouch:hover .item-getintouch__button {
  color: #fff;
}

.item-getintouch:hover .item-getintouch__button {
  border-color: #fff;
}

.item-getintouch__icon {
  font-size: 72px;
  color: #0d5c63;
}

.item-getintouch__emails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-getintouch__email {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #252b42;
}

.item-getintouch__email:hover {
  text-decoration: underline;
}

.item-getintouch__subtitle {
  color: #252b42;
}

.item-getintouch__button {
  padding: 10px 20px;
}

.contact {
  background-color: #fafafa;
  padding: 40px 0;
}

.contact__content {
  padding: 0px 20px 0px 0px;
}

.contact__title {
  text-align: left;
  margin: 0px 0px 10px 0px;
}

.contact__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__top {
  background-color: #17213C;
  padding: 35px 0;
}

.footer__label {
  color: #fff;
}

.footer__label:not(:last-child) {
  margin-bottom: 20px;
}

.footer__bottom {
  padding: 25px 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px;
}

.top-footer__column {
  padding: 15px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.667%;
          flex: 0 1 16.667%;
}

.top-footer__column:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.menu-footer__item:not(:last-child) {
  margin-bottom: 10px;
}

.menu-footer__link {
  color: #fff;
}

.contacts-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts-footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.contacts-footer__item:not(:last-child) {
  margin-bottom: 10px;
}

.contacts-footer__item::before {
  font-size: 24px;
  color: #8EC2F2;
  margin-right: 10px;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

.modal__wrapper {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 200;
  display: none;
}

.modal__wrapper .modal {
  height: 80%;
  width: 100%;
  max-width: 80%;
  margin: auto;
  position: relative;
}

.modal__wrapper .modal iframe {
  width: 100%;
  height: 100%;
  position: absolute;
}

.modal__wrapper .modal__title {
  text-align: center;
}

.modal__wrapper .modal__close {
  cursor: pointer;
  position: fixed;
  top: 40px;
  right: 50px;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__wrapper .modal__close:hover path {
  fill: white;
}

.modal__wrapper .modal__close svg {
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.modal__wrapper .modal__close path {
  fill: rgba(250, 250, 250, 0.5137254902);
}

.modal__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  border-radius: 30px;
  height: 50px;
  width: 150px;
  cursor: pointer;
}

.page__experience {
  padding: 230px 0 180px;
}

.page__about {
  padding: 100px 0;
}

@media (min-width: 47.99875em) {
  .contact__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 61.99875em) {
  .subscribe__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .subscribe__title {
    max-width: 260px;
  }

  .getintouch__items {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 400px;
  }
}

@media (min-width: 67.5em) {
  .subscribe__body {
    margin: 0 30px;
  }
}

@media (max-width: 992px) {
  .modal__wrapper .modal {
    height: 600px;
  }
}

@media (max-width: 768px) {
  .modal__wrapper .modal {
    height: 340px;
    max-width: 90%;
  }

  .modal__wrapper .modal__close {
    right: 25px;
  }
}

@media (max-width: 599.98px) {
  .body-practice .practise-items__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 67.5em) {
  .body-practice__items {
    margin: 35px -7.5px 0;
  }

  .body-practice .practise-items__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 0 7.5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .about__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
  }

  .about__video {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .about__briff {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .briff-about {
    margin-top: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .briff-about__title {
    text-align: center;
  }

  .briff-about__text {
    text-align: center;
    max-width: 500px;
  }

  .page__experience {
    padding: 180px 0 80px;
  }

  .page__about {
    padding: 70px 0;
  }
}

@media (max-width: 61.99875em) {
  .title {
    font-size: 32px;
    line-height: 42px;
  }

  .main-image img {
    position: relative;
    width: 150%;
    height: 800px;
    left: auto;
    right: 185px;
  }

  .main__title {
    margin-top: 130px;
    font-size: 48px;
    line-height: 50px;
    max-width: 70%;
  }

  .main__text {
    margin: 20px 0;
    font-size: 18px;
    line-height: 26px;
  }

  .main__advantages {
    margin-top: 50px;
  }

  .advantages-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }

  .body-experience__items {
    margin-top: 30px;
  }

  .body-experience__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc((100% - 15px) / 2);
            flex: 0 1 calc((100% - 15px) / 2);
  }

  .video-about {
    height: 340px;
  }

  .clients {
    padding: 30px 0;
  }

  .subscribe__body {
    padding: 20px 15px;
    margin: 0 -15px;
  }

  .subscribe__title {
    margin-bottom: 20px;
  }

  .subscribe__input {
    padding: 0 15px;
  }

  .subscribe__button {
    padding: 0 15px;
  }

  .getintouch {
    padding: 40px 0 60px;
  }

  .getintouch__text {
    margin-bottom: 20px;
  }

  .getintouch__item:not(:last-child) {
    margin: 0px 0px 15px 0px;
  }

  .item-getintouch {
    padding: 25px 20px;
  }

  .top-footer__column:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .top-footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
}

@media (max-width: 47.99875em) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 80px;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: -100%;
    background-color: #0d5c63;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    padding: 70px 15px 30px 15px;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 45px;
  }

  .menu__item {
    text-align: center;
  }

  .menu__item:not(:last-child) {
    margin: 0px 0px 35px 0px;
  }

  .menu__link {
    font-weight: 700;
    line-height: 28px;
    font-size: 28px;
    color: #fff;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main__title {
    font-size: 36px;
    line-height: 36px;
    margin-top: 90px;
    max-width: 90%;
  }

  .main__text {
    margin: 10px 0;
    font-size: 16px;
    line-height: 20px;
    max-width: 80%;
  }

  .advantages-main__item {
    padding: 20px;
  }

  .body-experience__item {
    padding: 20px;
  }

  .item-practice__body {
    padding: 15px;
  }

  .item-practice__text {
    margin: 5px 0px 0px 0px;
  }

  .contact__content {
    margin: 0px 0px 20px 0px;
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__copy:not(:last-child) {
    margin-bottom: 10px;
    text-align: center;
  }

  .top-footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .page__about {
    padding: 40px 0;
  }
}

@media (max-width: 29.99875em) {
  .main-image img {
    right: 0;
  }

  .actions-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .body-experience__items {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .video-about {
    height: 240px;
  }

  .top-footer__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .page__experience {
    padding: 160px 0 40px;
  }
}

@media (any-hover: hover) {
  .menu-footer__item:hover {
    text-decoration: underline;
  }

  .contacts-footer__item:hover::before {
    color: #ff7b47;
  }
}